
<head>
    <title>Home</title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<script type="text/javascript">
    $(document).ready(function(){
        $('#btn').on("click", function(){
            var form = {
                stationCode : "0222"
            }
            $.ajax({
                url: "getData",
                type: "POST",
                data: JSON.stringify(form),
                contentType: "application/json; charset=utf-8;",
                dataType: "json",
                success: function(data){
                    console.log(data.response.body.SearchFacilityByIDService);
                    $('#tbody').append("<tr>");
                    appendingText(data.response.body.SearchFacilityByIDService.row.AREA_NM);

                    $('#tbody').append("</tr>");
                },
                error: function(){
                    alert("err");
                }
            });
        });
    });

    function appendingText(txt){
        var tag = "<td>" + txt + "</td>";
        $('#tbody').append(tag);
    }
</script>
<body>
<button id="btn">btn</button>
<table border="1">
    <thead>
    <tr>
        <td>3일후 오전</td>
    </thead>
    <tbody id="tbody"></tbody>
</table>
</body>